.heart-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  font-family: cursive;
  color: #ffffff;
}

.heart {
  position: relative;
  width: 2rem;
  height: 1.8rem;
}

.heart::before, .heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1.08rem;
  height: 1.6rem;
  border-radius: 1rem 1rem 0 0;
  background: red;
}

.heart::before {
  left: 1rem;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.top-hearts {
  flex-grow: 1;
  height: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.bottom-hearts {
  flex-grow: 1;
  height: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.top-first {
  margin-left: 2rem;
  position: relative;
  bottom: -0.85rem;
  transform: rotate(330deg);
}

.top-last {
  margin-right: 2rem;
  position: relative;
  bottom: -0.85rem;
  transform: rotate(30deg);
}

.bottom-first {
  margin-left: 2rem;
  position: relative;
  top: -0.85rem;
  transform: rotate(240deg);
}

.bottom-last {
  margin-right: 2rem;
  position: relative;
  top: -0.85rem;
  transform: rotate(150deg);
}

.heart-container {
  flex-grow: 1;
}

.last {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.bottom-hearts {
  flex-grow: 1;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
}

.left-hearts {
  flex-grow: 1;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
}

.right-hearts {
  flex-grow: 1;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: calc(65% + 3.6rem);
  border: 1px solid black;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 3.6rem);
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 3.6rem);
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  background-color: rgba(253, 253, 253, 0);
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.person-head {
  width: calc(15% + 10rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ff930d;
}

.person-name {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: cursive;
}

.person-message {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171717;
}

.hexagon {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: #4b4b4b;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.hexa-parent {
  position: absolute;
  left: 15%;
  width: 20rem;
  height: 20rem;
  filter: drop-shadow(-0.75rem 1rem 0.75rem rgba(0, 0, 0, 0.5));
}
